amqpfaultinjector.test
faultinjector.txt
timed_detaches.json
/fuzz/*/*
!/fuzz/*/corpus
/fuzz/*.zip
*.log
/cmd/*/*.json
cover.out
.envrc
recordings
.vscode
.idea
*.env
*.jsonl
*.bin
**/node_modules/
samples/faultinjectorsample_js/package-lock.json

# ignoring the keys/logs files so they don't get checked in.
*-traffic-*.json
*-hexdump-*.txt
*-tlskeys.txt
*.crt
*.key

*.crt
*.key

# temp folder when we're creating a release
_bin
